# Db credentials
DATABASE_URL="postgres://username:password@host:port/db"

# for sending out emails
RESEND_API_KEY="resend_api_key"

# for email link token generation
JWT_SECRET_KEY="JWT_KEY"

# Base URL for email links
BASE_URL="site_base_url"

# Daraja API Credentials
DARAJA_CONSUMER_KEY="daraja_key"
DARAJA_CONSUMER_SECRET="daraja_secret"

# Sandbox Config
DARAJA_BASE_URL="daraja_base_url"
DARAJA_SHORTCODE=0123456789
DARAJA_PASSKEY="daraja_passkey"
DARAJA_PHONE=0123456789

# Callback URL (update this with your ngrok URL)
DARAJA_CALLBACK_URL="daraja_callback_url"