# Db credentials
DATABASE_URL="mysql://username:password@host:port/db"

DB_USER="user"
DB_PASSWORD="password"
DB_HOST="host"
DP_PORT=port
DB_NAME="db_name"

# for sending out emails
RESEND_API_KEY="resend_api_key"

# for email link token generation
JWT_SECRET_KEY="JWT_KEY"