# Db credentials
DATABASE_URL="postgres://username:password@host:port/db"

# for sending out emails
RESEND_API_KEY="resend_api_key"

# for email link token generation
JWT_SECRET_KEY="JWT_KEY"

# Base URL for email links
BASE_URL="site_base_url"

# Daraja API Credentials
DARAJA_CONSUMER_KEY="daraja_key"
DARAJA_CONSUMER_SECRET="daraja_secret"

# Sandbox Config
DARAJA_BASE_URL="daraja_base_url"
DARAJA_SHORTCODE=0123456789
DARAJA_PASSKEY="daraja_passkey"
DARAJA_PHONE=0123456789

# Callback URL (update this with your ngrok URL)
DARAJA_CALLBACK_URL="daraja_callback_url"

# Cloudinary credentials
CLOUDINARY_API_KEY="cloudinary_api_key"
CLOUDINARY_API_SECRET="cloudinary_api_secret"
CLOUDINARY_CLOUD_NAME="cloudinary_cloud_name"

# Supabase creds
NEXT_PUBLIC_SUPABASE_URL="supabase_project_url"
NEXT_PUBLIC_SUPABASE_ANON_KEY="supabase_anon_key"

# log file path
APP_LOG_PATH="log_file_path"